.page-header{
    background-image: url(../images/cine.jpg);
    background-size: contain;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #39685a;
   /*&__title{
        font-size: 2em;
        color: #292d3f;
        font-weight: lighter;
        margin: 0;
        text-align: center;
    }
}
.page-header__title:hover {
    text-decoration: underline;*/
}