.main {
  text-align: center;
  margin: 50px auto;
  max-width: 900px;

  &__title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    justify-content: center;

    &__search {
      padding: 10px;
      font-size: 1em;
      width: 250px;
      margin-bottom: 20px;
    }

    &__finder {
      margin-left: 10px;
      padding: 10px 20px;
      font-size: 1em;
      margin-bottom: 20px;
      background-color: #ff81ff;
      color: #503459;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #d06aff;
      }
    }
  }
  .list-container {
    display: flex;
    justify-content: space-between;
  
    .list {
      width: 45%; 
      align-items: center;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      background-color: #f9f9f9;
  
      &__title {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px;
      }
  
      &__favorite {
        color: black;
        background-color: #ff81ff;
      }
  
      &__series {
        color: black;
        background-color: #503459;
      }
    }
  }


    .title-serie {
        width: 250px;
        background-color: #ff81ff;
        color: white;
    }
  }